#canvasZone {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: calc(100% - var(--footer-height));
    &.expanded {
        height: 100%;
    }
    &.checkerboard {
        background: repeating-conic-gradient(#d2d2d2 0% 25%, white 25% 50%) 50% / 20px 20px;
    }
}

#renderCanvas {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    touch-action: none;
    display: block;
    border: 0;
    outline: 0;
}
